* {
    padding: 0;
    margin: 10;
}

h1 {
    color: #FEFAE0;
    text-align: left;
}

p {
    color: #FEFAE0;
    font-size: 1.2em; 
    margin-bottom: 20px;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Arial', Helvetica, Sans-serif;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #FEFAE0;
    background: #606C38; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    margin: 25px 0;
}

header img {
    width: 100%;
    height: auto;
}

aside {
    float: right;
    margin: 0 0 25px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;  
}

aside nav ul {
    list-style: none;
}

aside nav ul li {
    margin-bottom: 1px;
}

aside nav ul li a {
    display: block;
    text-decoration: none;
    color: #FEFAE0; 
    background: #283618;
    padding: 8px 20px;
}

aside nav ul li a:hover {
    background: #283618ad; 
    color: #fff;
}

#main {
    width: 70%;
    float: left;
    margin: 0 0 25px;
    padding: 20px;
}

footer {
    clear: both;
    text-align: center;
    background-color: #283618; 
    color: #FEFAE0;
    padding: 10px;
}




@media (min-width: 1318px) {
    .container {
        width:1050px;
    }
    aside {
        width:30%;
    }
    #main {
        width:65%;
    }
    textarea {
        width:100%;
    }
}

@media (max-width: 1318px) and (min-width: 1058px) {
    .container {
        width:950px;
    }
    aside {
        width:30%;
    }
    #main {
        width:65%;
    }
    textarea {
        width:100%;
    }
}

@media (max-width: 1058px) and (min-width: 958px) {
    .container {
        width:750px;
    }
    aside {
        width:30%;
    }
    #main {
        width:60%;
    }
    textarea {
        width:100%;
    }
}

@media (max-width: 958px) and (min-width: 758px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 450px;
    }
    aside {
        
        order: 2;
    }
    #main {
        width:100%;
        order: 1;
    }
    header {
        order: 3;
    }

    footer {
        order: 4;
    }
}

@media (max-width: 758px) and (min-width: 458px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 450px;
    }

    #main {
        order: 1;
        width: 100%;
    }

    aside {
        order: 2;
    }

    header {
        order: 3;
    }

    footer {
        order: 4;
    }
}


@media (max-width: 298) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    #main {
        order: 1;
        width: 100%;
    }

    aside {
        order: 2;
    }

    header {
        order: 3;
    }

    footer {
        order: 4;
    }
}